{% if menu %}
  <ul>
  {% for item in menu %}
    <li class="{{ item.classes | join(' ') }}">
      <a href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
      {% include "partials/menu.twig" with { "menu": item.get_children } %}
    </li>
  {% endfor %}
  </ul>
{% endif %}
